

<div *ngIf="value==true">
  <div>
    <a class="left btn-floating bttn" (click)="backButton()"><i class="material-icons">chevron_left</i></a>
  </div>
  <div class="row">
  <form class="col s12">
    <div class="row" >
      <div class="input-field col s12">
        <input [(ngModel)]="title" name="name" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <input [(ngModel)]="description" type="text" name="description">
      </div>
      <div class="input-field col s12">
        <input [(ngModel)]="category" type="text" name="category">
      </div>
    </div>
    <a class="right waves-effect waves-light btn" (click)="updateBlog(title,description,category)">Update</a>
  </form>
  </div>
</div>


<div class="col s12 m7">
<div *ngIf="value==false">
  <div>
    <a class="right btn-floating red btn-large add" [routerLink]="link.addBlog"><i class="material-icons">add</i></a>
    <h1 class="title center">Blogs</h1>
    <div class="row">
      <div class="col s12">
        <form>
          <input type="text" id="filter" placeholder="Filter By(Category)" class="col s3" [(ngModel)]="filterCategory" name="filterCategory">
              <label class="label-icon col" for="filter">
                <i class="material-icons">search</i>
              </label>
        </form>
      </div>
    </div>

  </div>
  <div class="collection card bigbox">
  <label *ngFor="let blog of blogs">
    {{fav(blog)}}
    <div class="box">
      <br>
      <div class="heading"><b>{{blog.title}}</b>
        <button class="cat">{{blog.category}}</button>
      </div>
<hr>

      <br>
       <div class="card-stacked">
           <div class="desc">
             {{blog.description}}<br><br>
             <hr>
             Posted By: {{blog.postedBy.name}}
           <div *ngIf="user.name==blog.postedBy.name">

             <button class = "left btn-floating bttn" (click)="deleteBlog(blog)"><i class="material-icons">delete</i></button>
             <button class = "left btn-floating bttn" (click)="loadBlog(blog,true)"><i class="material-icons">create</i></button>
           </div>

              <div><button class = "right fav" (click)="favouriteBlog(blog)">{{favName[blog.id]}}</button>
              </div>


           </div>
       </div>
    </div><br>
  </label>
</div>
</div>
</div>

<router-outlet></router-outlet>


